<script type="module">
    import {
        computed,
        createApp,
        onMounted,
        onBeforeMount,
        ref,
        watch
    } from "https://unpkg.com/vue@3/dist/vue.esm-browser.js";

    const CounterComponent = {
        props: {
            title: String,
            initialCount: Number
        },
        setup(props) {
            // a counter modifiable by buttons
            const amount = ref(props.initialCount);

            function increment(e) {
                amount.value++;
            };

            function decrement(e) {
                amount.value--;
            };

            return {
                amount,
                increment,
                decrement
            };
        },
        template: `
            <h2>{{ title }}</h2>
            <span>
                <button @click="increment">+</button>
                <button @click="decrement">-</button>
            </span>
            <p>count is: {{ amount }}</p>
        `
    };

    const ToDoListComponent = {
        props: {
            initiallyHidden: Boolean
        },
        setup(props) {
            // a to-do list that demonstrates for behavior
            let id = 0;

            const hideCompleted = ref(props.initiallyHidden);

            const allTodos = ref([]);

            const filteredTodos = computed(() => {
                return allTodos.value.filter((item) => !item.done);
            });

            const visibleTodos = computed(() =>
                hideCompleted.value ? filteredTodos.value : allTodos.value
            );

            const newTodo = ref("");

            function addTodo(todoText) {
                allTodos.value.push({
                    id: id++,
                    text: todoText,
                    done: false
                });
            };

            function removeTodo(todo) {
                allTodos.value.splice(
                    allTodos.value.indexOf(todo),
                    1
                );
            };

            [
                "Learn Google Apps Script",
                "Learn Vue",
                "Integrate them"
            ].map(addTodo);

            return {
                hideCompleted,
                allTodos,
                filteredTodos,
                visibleTodos,
                newTodo,
                addTodo,
                removeTodo
            };
        },
        template: `
            <h2>A to-do list with {{filteredTodos.length}} {{filteredTodos.length == 1 ? "item" : "items"}}</h2>
            <form @submit.prevent="addTodo(newTodo)">
                <input v-model="newTodo">
                <button>Add To-do</button>
            </form>
            <ul>
                <li v-for="todo in visibleTodos" :key="todo.id">
                    <input type="checkbox" v-model="todo.done">
                    <span :class="{ done: todo.done }">{{ todo.text }}</span>
                    <button @click="removeTodo(todo)" class="delete-remove">X</button>
                </li>
            </ul>
            <button @click="hideCompleted = !hideCompleted">
                {{ hideCompleted ? "Show all" : "Hide completed" }}
            </button>
        `
    };

    const PropertySelectorComponent = {
        props: {

        },
        setup(props) {
            // a drop-down that shows the values of script properties

            const propertyKeys = ref(<?!= JSON.stringify(PropertiesService.getScriptProperties().getKeys()) ?>);

            const activeKey = ref("");
            const activeProperty = ref("");

            watch(activeKey, (newKey) => {
                google.script.run
                    .withSuccessHandler((property) => {
                        activeProperty.value = property;
                    })
                    .withFailureHandler(() => {
                        activeProperty.value = `"${newKey}" is an invalid key!`;
                    })
                    .getProperty(newKey);
            });

            return {
                propertyKeys,
                activeKey,
                activeProperty
            };
        },
        template: `
            <h2>
                <slot>A select control for choosing which script property to view.</slot>
            </h2>
            <select v-model="activeKey">
                <option v-for="key in propertyKeys">{{key}}</option>
            </select>
            <p>{{activeProperty}}</p>
        `
    };

    const EmittingComponent = {
        emits: ["emission"],
        props: {
            greeting: String
        },
        setup(props, { emit }) {
            emit("emission", `${props.greeting} ${props.greeting} ${props.greeting}`)
        },
        template: `
            <p>{{greeting}}</p>
        `
    };

    createApp({
        components: {
            CounterComponent,
            ToDoListComponent,
            PropertySelectorComponent,
            EmittingComponent
        },
        setup() {
            // a reference to an element in the DOM
            const message = ref(null);

            const titleClass = ref("title");

            onMounted(() => {
                message.value.textContent = "Hello, World!";
            });

            // a paragraph element connected to a text input
            const modelText = ref("");

            // a toggle button for demonstrating if-else behavior
            const affirm = ref(false);

            function toggle(e) {
                affirm.value = !affirm.value;
            }

            // capture the response of an emitting component
            const emittedText = ref("no emissions here...");
            function onEmission(txt) {
                emittedText.value = txt
            }

            return {
                message,
                titleClass,
                modelText,
                affirm,
                toggle,
                emittedText,
                onEmission
            };
        }
    }).mount("#app")
</script>

<style>
    .title {
        color: #012288;
    }

    .delete-remove {
        color: #ff1111;
    }

    .done {
        text-decoration: line-through;
    }
</style>

<div id="app">
    <h1 ref="message" :class="titleClass">Still, loading.</h1>
    <div id="a-counter">
        <counter-component title="A counter" initial-count="42"></counter-component>
    </div>
    <div id="text-model">
        <h2>A text input</h2>
        <input v-model="modelText" placeholder="Type here, please.">
        <p>{{ modelText }}</p>
    </div>
    <div id="toggle-if">
        <h2>A toggle button</h2>
        <button @click="toggle">{{ affirm ? "deactivate" : "activate" }}</button>
        <h3 v-if="affirm">The toggle is on.</h3>
        <h3 v-else=>The toggle is off.</h3>
    </div>
    <div id="todo-list">
        <to-do-list-component initially-hidden="false"></to-do-list-component>
    </div>
    <div id="property-choice">
        <property-selector-component>Property Chooser</property-selector-component>
    </div>
    <div id="emitting-child">
        <h2>An Event-emitting Component</h2>
        <emitting-component greeting="howdy" @emission="onEmission"></emitting-component>
        {{ emittedText }}
    </div>
</div>