<script type="module">
    import {
        computed,
        createApp,
        onMounted,
        onBeforeMount,
        ref,
        watch
    } from "https://unpkg.com/vue@3/dist/vue.esm-browser.js";

    createApp({
        setup() {
            // a reference to an element in the DOM
            const message = ref(null);

            onMounted(() => {
                message.value.textContent = "Hello, World!";
            });

            // a counter modifiable by buttons
            const counter = ref(0);

            const titleClass = ref("title");

            function increment(e) {
                counter.value++;
            };

            function decrement(e) {
                counter.value--;
            };

            // a paragraph element connected to a text input
            const modelText = ref("");

            // a toggle button for demonstrating if-else behavior
            const affirm = ref(false);

            function toggle(e) {
                affirm.value = !affirm.value;
            }

            // a to-do list that demonstrates for behavior
            let id = 0;

            const hideCompleted = ref(false);

            const allTodos = ref([]);

            const filteredTodos = computed(() => {
                return allTodos.value.filter((item) => !item.done);
            });

            const visibleTodos = computed(() =>
                hideCompleted.value ? filteredTodos.value : allTodos.value
            );

            const newTodo = ref("");

            function addTodo(todoText) {
                allTodos.value.push({
                    id: id++,
                    text: todoText,
                    done: false
                });
            };

            function removeTodo(todo) {
                allTodos.value.splice(
                    allTodos.value.indexOf(todo),
                    1
                );
            };

            [
                "Learn Google Apps Script",
                "Learn Vue",
                "Integrate them"
            ].map(addTodo);

            // a drop-down that shows the values of script properties

            const propertyKeys = ref([]);

            onBeforeMount(() => {
                google.script.run
                    .withSuccessHandler((array) => {
                        propertyKeys.value = array;
                    })
                    .getPropertyKeys();
            });

            const activeKey = ref('');
            const activeProperty = ref('');

            watch(activeKey, (newKey) => {
                google.script.run
                    .withSuccessHandler((property) => {
                        activeProperty.value = property;
                    })
                    .withFailureHandler(() => {
                        activeProperty.value = `"${newKey}" is an invalid key!`;
                    })
                    .getProperty(newKey);
            });

            return {
                counter,
                message,
                titleClass,
                increment,
                decrement,
                modelText,
                affirm,
                toggle,
                hideCompleted,
                allTodos,
                filteredTodos,
                visibleTodos,
                newTodo,
                addTodo,
                removeTodo,
                propertyKeys,
                activeKey,
                activeProperty
            };
        }
    }).mount("#app")
</script>

<style>
    .title {
        color: #012288;
    }

    .delete-remove {
        color: #ff1111;
    }

    .done {
        text-decoration: line-through;
    }
</style>

<div id="app">
    <h1 ref="message" :class="titleClass">Still, loading.</h1>
    <div id="counter">
        <h2>A counter</h2>
        <span>
            <button @click="increment">+</button>
            <button @click="decrement">-</button>
        </span>
        <p>count is: {{ counter }}</p>
    </div>
    <div id="text-model">
        <h2>A text input</h2>
        <input v-model="modelText" placeholder="Type here, please.">
        <p>{{ modelText }}</p>
    </div>
    <div id="toggle-if">
        <h2>A toggle button</h2>
        <button @click="toggle">{{ affirm ? "deactivate" : "activate" }}</button>
        <h3 v-if="affirm">The toggle is on.</h3>
        <h3 v-else=>The toggle is off.</h3>
    </div>
    <div id="todo-list">
        <h2>A to-do list with {{filteredTodos.length}} {{filteredTodos.length == 1 ? "item" : "items"}}</h2>
        <form @submit.prevent="addTodo(newTodo)">
            <input v-model="newTodo">
            <button>Add To-do</button>
        </form>
        <ul>
            <li v-for="todo in visibleTodos" :key="todo.id">
                <input type="checkbox" v-model="todo.done">
                <span :class="{ done: todo.done }">{{ todo.text }}</span>
                <button @click="removeTodo(todo)" class="delete-remove">X</button>
            </li>
        </ul>
        <button @click="hideCompleted = !hideCompleted">
            {{ hideCompleted ? 'Show all' : 'Hide completed' }}
        </button>
    </div>
    <div id="property-choice">
        <h2>A select control for choosing which script property to view.</h2>
        <select v-model="activeKey">
            <option v-for="key in propertyKeys">{{key}}</option>
        </select>
        <p>{{activeProperty}}</p>
    </div>
</div>